@font-face {
    font-family: 'Kapakana';
    src: url('Kapakana-Light.woff2') format('woff2'),
        url('Kapakana-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kapakana';
    src: url('Kapakana-Regular.woff2') format('woff2'),
        url('Kapakana-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

