*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    left: -100px;
    bottom: -100px;
}

.p1{
    height: 500px;
    width: 500px;
    background-color: grey;
    position: relative; 
}

.relative{
    height: 200px;
    width: 200px;
    background-color: pink;
    right: -50px;
    position: absolute;
}

img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
}

.fix{
    height: 200px;
    width: 200px;
    background-color: cyan;
    position: fixed;
    bottom: 0;
    right: 100px;
    position: static;
}

.sticky{
    height: 50px;
    width: 100%;
    background-color: blue;
    position: sticky;
    top: 0px;
    position: static;
}