*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}
.card{
    width: 375px;
    background-color: brown;
    display: inline-block;
    border: rgb(111, 115, 118) solid 10px;
    border-radius: 20px;
    padding: 20px;
}

p{
    text-align: center;
    text-decoration: line-through dotted;
}
ul{
    font-style: italic;
    font-weight: 900;
    margin-left: 20px;
}



