* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(186, 162, 208);
    padding: 10px;
    border-radius: 50px;
}

.dflex {
    display: flex;
    flex-wrap: wrap;
}

.wclass {
    width: 33.33%;
}

img {
    width: 100%;
}

.img {
    height: 234.90px;
    margin: 10px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img img{
    height: 100%;
    object-fit: cover;
    object-position: center ;
}