*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1140px;
}

.card .container{
    /* background-color: rgba(0, 255, 255, 0.185); */
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.w-25{
    width: 25%;
}

.card-item{
    margin: 30px 30px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input{
    width: 40px;
    margin: 5px;
    text-align: center;
}

.content{
    text-align: justify;
    padding: 10px;
}

.add{
    margin-bottom: 10px;
}

.price{
   margin-bottom: 10px;
}

h2{
   margin-bottom: 10px;
   margin-top: 10px;
}

.content{
    margin-bottom: 10px;
}

.addtocart{
    background-color: rgba(42, 73, 113, 0.449);
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
