*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    
    background-color: rgb(95, 148, 217);
    width: 150px;
    padding: 20px;  
    margin: 10px;
    border: solid 3px;
    border-radius: 20px;
box-shadow: rgba(99, 92, 178, 0.4) 5px 5px, rgba(110, 238, 6, 0.3) 10px 10px, rgba(124, 146, 113, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(8, 10, 9);
       
}

.btn1:active{

    color: black;
    background-color: #f59510;
}

.btn2{
    transition-property: all;
      transition: 2s;  
      height: 58.4px;
      width: 150px; 
}

.btn2:hover{
    width: 200px;
    height: 150px;
    background-color: pink;
    text-align: center;    
}

.btn3:focus{
    color: rgb(124, 96, 151);
    background-color:rgb(75, 175, 47);
}