
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    max-width: 200px;
    text-align: center;
    margin: 20px;
}

a{
    border: solid 2px;
    border-radius: 10px;
    background-color: ;
    text-decoration: none;
    color: rgb(189, 245, 121);
    padding: 10px 50px 10px 50px;
    background-color: rgb(172, 165, 158);
    box-shadow: rgba(13, 12, 13, 0.4) 5px 5px, rgba(11, 9, 11, 0.3) 10px 10px, rgba(7, 4, 6, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}
